<app-page-layout class="welcome">
  <span page-layout-title>Welcome!</span>

  <div page-layout-content class="welcome__content">
    <h1>Welcome!</h1>

    <p>
      Welcome back to Digital PA! This page is still under construction. In the
      future, this page will be replaced by a beautiful dashboard.
    </p>
  </div>
</app-page-layout>
