.task-list-item {
  height: auto !important;

  &__check-button {
    margin-left: -12px;
  }

  &__content {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  &__children-info {
    margin-top: -12px;
    margin-bottom: 12px;
  }
}
