<mat-list-item class="task-list-item" (click)="goToSubTask()">
  <button
    mat-icon-button
    class="task-list-item__check-button"
    color="primary"
    (click)="toggleTaskFinished(); $event.stopPropagation()"
  >
    <mat-icon>{{task.finished ? 'task_alt' : 'radio_button_unchecked' }}</mat-icon>
  </button>
  <div class="task-list-item__summary">
    <div class="task-list-item__content">{{task.content}}</div>
    <div class="task-list-item__children-info mat-small">
      Sub-tasks &bull; {{numOfFinishedSubTasks}} / {{numOfSubTasks}}
    </div>
  </div>
</mat-list-item>