<mat-list-item class="blog-article-list-item" (click)="goToBlogArticle()">
  <img
    *ngIf="article.thumbnailImageUrl; else elseBlock"
    class="blog-article-list-item__thumbnail"
    [src]="article.thumbnailImageUrl"
  />
  <ng-template #elseBlock>
    <div class="blog-article-list-item__thumbnail"></div>
  </ng-template>

  <div class="blog-article-list-item__summary">
    <div class="blog-article-list-item__title">
      {{ getBlogLanguageContent(article.title).content }}
      <span *ngIf="!article.published" class="app-color-warn">(Draft)</span>
    </div>
    <div class="blog-article-list-item__metadata">
      {{ formattedDate }}
      <ng-container *ngIf="article.location">
        &bull; {{ article.location.name }}
      </ng-container>
    </div>
    <div
      *ngIf="tags"
      class="blog-article-list-item__metadata"
    >
      {{ tags }}
    </div>
  </div>

  <button
    mat-icon-button
    class="blog-article-list-item__menu-button"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-list-item>
