.blog-article-list-item {
  height: auto;

  &__thumbnail {
    object-fit: cover;
    margin-right: 12px;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    background-color: #cccccc;
  }

  &__summary {
    flex-grow: 1;
    min-height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
  }

  &__metadata {
    font-size: 12px;
    line-height: 18px;
  }
}
