<div mat-dialog-title>Task Details</div>
<div mat-dialog-content>
  <app-key-value-list
    [keyValuePairs]="taskKeyValuePairs"
  ></app-key-value-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" mat-dialog-close>Close</button>
</div>
