.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__card {
    width: 256px;
  }

  &__input-field {
    display: block;
  }

  &__submit-button {
    width: 100%;
  }
}
