<div class="login">
  <mat-card class="login__card mat-elevation-z2">
    <h1 mat-card-title>Login</h1>

    <form (submit)="onSubmit()">
      <div mat-card-content>
        <mat-form-field class="login__input-field" appearance="standard">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            required
            placeholder="Please enter password"
            [formControl]="password"
          />
          <mat-error *ngIf="password.invalid">{{errorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <div mat-card-action>
        <button
          class="login__submit-button"
          mat-raised-button
          type="submit"
          color="primary"
        >
          Go!
        </button>
      </div>
    </form>
  </mat-card>
</div>
