<app-page-layout class="tasks">
  <span page-layout-title>Tasks</span>

  <div page-layout-content>

    <div *ngIf="task" class="tasks__header">
      <div class="tasks__header-inner-container">
        <div class="tasks__header-content">
          <app-task-summary
            [task]="task"
            [subTasks]="subTasks"
          ></app-task-summary>

          <app-task-toolbar
            [task]="task"
            (update)="reloadData()"
          ></app-task-toolbar>
        </div>
      </div>
    </div>
    
    <div class="tasks__body">
      <app-task-create
        [parentId]="taskId"
        (update)="reloadData()"
      ></app-task-create>

      <app-task-list
        [tasks]="subTasks"
        (update)="reloadData()"
      ></app-task-list>
    </div>

  </div>
</app-page-layout>
