.task-create {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: -4px;
  padding: 0 16px;

  &__create-button {
    margin-left: -12px;
  }

  &__content-input-field {
    flex-grow: 1;
    font-size: 16px;
  }
}
