<form class="task-create" (submit)="createTask()">
  <button
    class="task-create__create-button"
    mat-icon-button
    type="submit"
    color="primary"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-form-field class="task-create__content-input-field">
    <mat-label>{{parentId ? 'New sub-task' : 'New task'}}</mat-label>
    <input matInput 
      placeholder="What to do next?"
      autocomplete="off"
      [formControl]="content"
    />
  </mat-form-field>
</form>
