<div mat-dialog-title>{{data.title}}</div>
<div mat-dialog-content>
  {{data.text}}
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">{{data.negativeLabel || 'No'}}</button>
  <button mat-button color="accent" [mat-dialog-close]="true">{{data.positiveLabel || 'Yes'}}</button>
</div>
