<div class="task-toolbar">
  <button
    mat-icon-button
    class="task-toolbar__tool-button"
    (click)="goUpToParentTask()"
  >
    <mat-icon>arrow_backward</mat-icon>
  </button>

  <button
    mat-icon-button
    class="task-toolbar__tool-button"
    (click)="showTaskDetails()"
  >
    <mat-icon>info</mat-icon>
  </button>

  <button
    mat-icon-button
    class="task-toolbar__tool-button"
    (click)="editTask()"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-icon-button
    class="task-toolbar__tool-button"
    (click)="deleteTask()"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <button
    mat-icon-button
    class="task-toolbar__tool-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="reopenFinishedSubTasks()">
      <mat-icon>remove_done</mat-icon>
      <span>Re-open finished tasks</span>
    </button>
    <button mat-menu-item (click)="deleteFinishedSubTasks()">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete finished tasks</span>
    </button>
  </mat-menu>
</div>
