<dl class="key-value-list">
  <ng-container *ngFor="let keyValuePair of keyValuePairs; trackBy:identifyKeyValuePair">
    <ng-container *ngIf="isKeyValuePair(keyValuePair); else elseBlock">
      <dt class="key-value-list__key mat-caption app-color-secondary">{{keyValuePair.key}}</dt>
      <dd class="key-value-list__value" (click)="copyValue(keyValuePair.value)">{{keyValuePair.value}}</dd>
    </ng-container>
    <ng-template #elseBlock>
      <mat-divider class="key-value-list__divider"></mat-divider>
    </ng-template>
  </ng-container>
</dl>
