<div mat-dialog-title>Edit Task</div>
<div mat-dialog-content>
  <div class="task-edit__form">
    <mat-slide-toggle
      class="task-edit__toggle"
      [(ngModel)]="finished"
    >Task Finished</mat-slide-toggle>

    <mat-form-field>
      <mat-label>Parent</mat-label>
      <input matInput placeholder="Empty means top-level task" [formControl]="parentId" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput placeholder="What to do next?" [formControl]="content" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="updatedTask">Update</button>
</div>
