<app-page-layout class="blog-articles">
  <span page-layout-title>Blog Articles</span>

  <div page-layout-content>
    <app-blog-article-list
      [articles]="articles"
    >
    </app-blog-article-list>
  </div>
</app-page-layout>
