<mat-drawer-container class="page-layout">
  <mat-drawer-content class="page-layout__content">
    <mat-toolbar class="page-layout__content-toolbar mat-elevation-z6" color="primary">
      <button
        *ngIf="showMenuButton"
        mat-icon-button
        class="page-layout__menu-button"
        (click)="openDrawer()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <ng-content select="[page-layout-title]"></ng-content>
    </mat-toolbar>

    <div class="page-layout__content-body">
      <ng-content select="[page-layout-content]"></ng-content>
    </div>
  </mat-drawer-content>

  <mat-drawer
    #drawer
    class="page-layout__nav"
    [mode]="navDisplayMode"
    [autoFocus]="false"
    [opened]="menuOpenedInitialState"
  >
    <mat-toolbar class="page-layout__nav-toolbar">
      <button
        *ngIf="showMenuButton"
        mat-icon-button
        class="page-layout__menu-button"
        (click)="closeDrawer()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>Digital PA</span>
    </mat-toolbar>

    <div class="page-layout__nav-body">
      <mat-nav-list class="page-layout__nav-list">
        <a
          *ngFor="let route of routes"
          class="page-layout__nav-item"
          mat-list-item
          [routerLink]="route.link"
        >
          <mat-icon class="page-layout__nav-item-icon" mat-list-icon>{{route.icon}}</mat-icon>
          <span class="page-layout__nav-item-text">{{route.label}}</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>
</mat-drawer-container>
