.page-layout {
  height: 100vh;
  background-color: #ffffff;

  &__menu-button {
    margin-left: -12px;
    margin-right: 4px;
  }

  &__nav {
    position: fixed;
    top: 0;
    min-width: 300px;
    max-width: 450px;
    width: 25%;
  }

  &__nav-toolbar {
    height: 56px;
    background-color: #ffffff;
  }

  &__nav-item-icon {
    margin-left: 8px;
    margin-right: 4px;
  }

  &__content {
    margin-top: 56px;
    height: calc(100vh - 56px);
  }

  &__content-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 56px;
  }
}
