<div class="task-summary">
  <div class="task-summary__content mat-headline">
    {{task.content}}
  </div>

  <div class="task-summary__finish-status mat-caption app-color-primary">
    {{task.finished ? 'Finished' : 'Still Open'}} &bull;
    Sub-tasks&nbsp;{{numOfFinishedSubTasks}}/{{numOfSubTasks}}&nbsp;({{finishedPercent}})
  </div>

  <div class="task-summary__description"></div>
</div>
