.task-summary {
  &__content {
    margin-bottom: 8px;
  }

  &__finish-status {
    margin-bottom: 16px;
  }

  &__description {
    margin-top: -8px;
    margin-bottom: 16px;
    font-size: 16px;
  }
}
