html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$color-primary: #3f51b5;
$color-secondary: #a3a3a3;
$color-accent: #ff4081;
$color-warn: #f44336;

.app-bg-color-primary {
  background-color: $color-primary;
}
.app-bg-color-secondary {
  background-color: $color-secondary;
}
.app-bg-color-accent {
  background-color: $color-accent;
}
.app-bg-color-warn {
  background-color: $color-warn;
}

.app-color-primary {
  color: $color-primary;
}
.app-color-secondary {
  color: $color-secondary;
}
.app-color-accent {
  color: $color-accent;
}
.app-color-warn {
  color: $color-warn;
}
